@mixin breakpoint($value) {
    @media (max-width: $value) {
        @content;
    }
}

@mixin reduce-motion {
    @media (prefers-reduced-motion: reduce) {
        @content;
    }
}

@mixin line-clamp($value: 1) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $value;
    overflow: hidden;
}

@mixin truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    margin: -1px;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
}
