$color-black: #111;
$color-dark: #222;
$color-gray: #666;
$color-gray-hover: #999999;
$color-gray-dark: #404040;
$color-gray-light: #888;
$color-white: #fff;
$color-cream: #f8f8f8;
$color-blue-sky: #7dcdff;
$color-blue-sky-hover: #bbe3fc;
$color-blue-dark: #1b1d28;
$color-red: #ee1d22;
$color-red-hover: #ed5458;
$color-yellow: #ffcb12;
$color-purple: #5157cc;
$color-purple-hover: #787eec;
$color-pink: #ff3d9d;
$color-pink-hover: #ff7cbe;

$font-poppins: "Poppins", sans-serif;
$font-barlow: "Barlow Condensed", sans-serif;
$font-mohave: "Mohave", sans-serif;
$font-icons: "Font-Icons";

$laptop: 1280px;
$tablet: 991px;
$mobile: 768px;
$mobile-medium: 640px;
$mobile-small: 545px;
$mobile-dino: 320px;

$z-header: 1000;
$z-sidemenu: 2000;
$z-modal: 3000;