.big-letter {
    margin-bottom: 2.5rem;

    &__letter {
        font-size: 10rem;
        font-weight: 800;
        line-height: .85;
        float: left;
        color: $color-dark;
        margin-right: 3rem;
    }

    &__text {
        font-family: $font-poppins;
        font-size: 1.8rem;
        line-height: 1.75;
        color: $color-gray;
        margin: 5rem 0;
    }
}