.page-viewer {
    position: fixed;
    left: 2rem;
    bottom: 2rem;
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    font-family:
        "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 2rem;
    user-select: none;
    z-index: 5000;

    @include breakpoint($mobile-small) {
        left: 1rem;
        bottom: 1rem;
        font-size: 1.4rem;
    }

    &--hidden &__inner {
        transform: scale(0);
        width: 0;
    }

    &--hidden &__list {
        max-height: 0;
    }

    &--hidden &__button::before {
        content: "o";
    }

    &__inner {
        width: 30rem;
        border-radius: 0.8rem;
        background-color: #ffffff;
        box-shadow: 0.2rem 0.2rem 0.6rem rgba(0, 0, 0, 0.25);
        transform-origin: bottom left;

        @include breakpoint($mobile-medium) {
            width: 20rem;
        }

        @include breakpoint($mobile-small) {
            width: 19rem;
        }

        @include breakpoint($mobile-dino) {
            width: 15rem;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.2rem 1.8rem 0.8rem;
        border-bottom: 0.1rem solid rgb(114 114 114 / 15%);
        color: #4d4d4d;

        @include breakpoint($mobile-dino) {
            padding: 1rem 1.2rem 0.8rem;
        }
    }

    &__list {
        max-height: 42svh;
        overflow: hidden auto;
        margin: 0;
        padding: 0;

        &::-webkit-scrollbar {
            &-track {
                display: none;
            }

            &-thumb {
                background-color: #727272;
            }
        }
    }

    &__item:first-child &__link {
        padding-top: 1.6rem;

        @include breakpoint($mobile-dino) {
            padding-top: 1rem;
        }
    }

    &__item:last-child &__link {
        padding-bottom: 1.6rem;

        @include breakpoint($mobile-dino) {
            padding-bottom: 1rem;
        }
    }

    &__item:hover &__link {
        background-color: #e2e2e2;
        transition:
            background-color 0.15s ease,
            color 0.15s ease;
    }

    &__link {
        display: block;
        line-height: 1;
        padding: 0.8rem 1.8rem;
        color: #4d4d4d;

        @include truncate;

        @include breakpoint($mobile-dino) {
            padding: 0.8rem 1.2rem;
        }
    }

    &__button {
        position: relative;
        width: 3.6rem;
        height: 3.6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.8rem;
        background-color: #ffffff;
        box-shadow: 0.2rem 0.2rem 0.6rem rgba(0, 0, 0, 0.25);
        transition: background-color 0.15s ease;

        &::before {
            content: "x";
            font-family:
                "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
                sans-serif;
            font-size: 2.2rem;
            font-weight: 500;
            line-height: 1;
            color: #4d4d4d;

            @include breakpoint($mobile-small) {
                font-size: 1.6rem;
            }
        }

        &:hover,
        &:focus-visible {
            background-color: #e2e2e2;
        }
    }
}
